/* TO DO
    1. build div elements
    2. insert images
    3. fix text opacity issue on banner cards
    4. add atleast one detail page so they all arent the same (instead of basics page?)
*/

@font-face {
    font-family: "bignoodletoo";
    src: url('Resources/bignoodletoo.woff');
}
body{
    width: 100%;
   /* background: rgb(202,191,223);
    background: linear-gradient(347deg, rgba(202,191,223,1) 0%, rgba(237,209,223,1) 100%);
    */
    /*background: rgb(235,229,246);
    background: linear-gradient(347deg, rgba(235,229,246,1) 0%, rgba(240,228,234,1) 100%);*/
    background-color: white;
    align-content: center;
    margin: 0px;
    padding: 0px;
}
/* Web Page Container */
.overwatch{
    height: auto;
    width: 100%;
    /*display: grid*/;
    /*grid-template-columns: 5% 343px 5%;*/
    margin: 0px;
    padding: 0px;
}
.header{
    width: auto;
    height: auto;
    left: 10%;
    margin-top: 5%;
}
/* Navigation Bar */
.nav{
    height: 110px;
    position: fixed;
    background-color: #F7F7F7;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
#myLinks{
    position: fixed;
    right: 0;
    display: none;
    background-color: #4B535D;
    z-index: 1;
    top: 110px;
    width: 100%;
}
.nav a{
    color: #F7F7F7;
    padding: 12px;
    text-decoration: none;
    display: block;
}
.nav a.icon{
    background: #F7F7F7;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
    
}
/* Navigation Bar Icons */
/*#icon{
    height: 200px;
    width: auto;
    align-content: center;
    background: #F7F7F7;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}*/
.nav a.logo{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: auto;
    align-content: center;
    background: #F7F7F7;
}
/* Body */
.content{
    width: 100%;
    padding-top: 25px;
    align-content: center;
    margin: 0%;
}
/* Banner Images */
.banner{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
/* Fits Image in Div */
.img_contain{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* Centers Text Over Image */
.txt_banner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    align-content: center;
    align-items: center;
}
/* Page Header */
h1{
    font-family: 'bignoodletoo';
    color: #F7F7F7;
    font-size: 124px;
    text-align: center;
    letter-spacing: 20px;
    text-shadow: 0px 0px 50px #000000;
}
/* Section Header */
h2{
    font-family: 'bignoodletoo';
    font-size: 64px;
    color: #4B535D;
    letter-spacing: 5px;
    padding-left: 5%;
}
/* Card Name */
h3{
    font-family: 'bignoodletoo';
    color: #4B535D;
    font-size: 48px;
    letter-spacing: 3px;
    margin: 2%;
}
/* Menu Text */
h4{
    font-family: 'bignoodletoo';
    color: #F7F7F7;
    font-size: 38px;
    padding: 10px;
    letter-spacing: 3px;
    margin: 10px;
}
/* Footer Text */
h5{
    margin-top: 5%;
    padding: 5%;
    font-family: 'Helvetica';
    color: #F7F7F7;
    font-size: 10px;
    text-transform: uppercase;
}
/*Button Text */
h6{
    text-align: center;
    color: #F7F7F7;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 36px;
}

/* News Whole Container */
.news{
    height: auto;
    width: auto;
    margin-bottom: 5%;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background: #F7F7F7;
    
}
/* News Text Container */
.news_txt{
    height: auto;
    padding: 5px;
    width: 100%;
    align-content: center;
    vertical-align: middle;
}
/* New Gap Line */
.line{
    height: 2px;
    /*background-color: #4B535D;*/
    background: #F7F7F7;
}
/* News Image Container */
.news_img{
    width: auto;
    height: 300px;
}
/* Tutorial Whole Container */
.tut{
    border-style: solid;
    border-width: 2px;
    border-color: #4B535D;
    height: 75px;
    width: 339px;
    margin-bottom: 20px;
}
/* Tutorial Text Container */
.tut_txt{
    height: 100%;
}
/* Tutorial Image Container */
.tut_img{
    width: auto;
    height: 75px;
    /* temp color */
    background-color: greenyellow;
}
/* Guide Container */
.guide{
    height: 350px;
    width: auto;
    margin-bottom: 5%;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.guide_img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    vertical-align: middle;
    background-size: fill;
}
/* Guide Text Container */
.guide_txt{
    padding: 2%;
    padding-right: 4%;
    width: auto;
    height: auto;
    background-color: #F7F7F7;
    position: relative;
    left: 5%;
    top: 50%;
    display: inline-block;
    overflow: none;
    white-space: nowrap;
}
/* Hero Container */
.hero{
    align-content: center;
    width: auto;
    height: auto;
    background-color: #4B535D;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 146px;
    padding-right: 197px;
}
/* Hero Icon Container */
.hero_icon{
    height: auto;
    width: 10%;
    position: right;
}
/* Button */
.learn{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    /*background-color: #FF9C00;*/
    background: rgb(255,156,0,0.75);
    align-content: center;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding-top: 30px;
}
/* Remove Link Styling */
a{
    text-decoration: none;
}
/* for span */
#orange{
    color: #FF9C00;
}
/* Hover Highlight */
.guide:hover{
    filter: opacity(90%);
}
img:hover{
    filter: opacity(90%);
}
a:hover{
    filter: opacity(90%);
}
/* Image position fix */
#top{
    object-position: top;
}
.footer{
    margin: 5%;
    height: auto;
    width: 100%;
    background-color: #4B535D;
}
.ability{
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #FF9C00;
    padding: 50px;
    margin: 5%;
    align-content: center;
    text-align: center;
}
/* Ability Icon Container */
.ability_icon{
    display: inline-block;
    height: 150px;
    width: auto;
    display: inline-block;
    margin: auto;
}
#banner_home{
    background-image: url("Sigma/sigma_pose_1.jpg");
}
#banner_sigma{
    background-image: url("Sigma/sigma_art_1.jpg");
}
#banner_basics{
    background-image: url("Basics/kings_row.jpeg");
}
#banner_learn{
    background-image: url("Basics/kings_row.jpeg");
}
#banner_overwatch2{
    background-image: url("Home/overwatch2.jpg");
}
#banner_flux{
    background-image: url("Sigma/ultimate.jpg");
}
#guide_sigma_ult{;
    background-image: url("Sigma/ultimate.jpg");
    background-position: top;
}
#guide_sigma_accretion{
    background-image: url("Sigma/sigma-accretion.jpg");
    background-position: center;
}
#guide_sigma_position{
    background-image: url("Sigma/primary_fire.png");
    background-position: top;
}
#guide_sigma_shield{
    background-image: url("Sigma/sigma_shield.jpg");
    background-position: top;
}
#guide_carry{
    background-image: url("Basics/carry.png");
    background-position: top;
    
}
#guide_combo{
    background-image: url("Basics/combo.jpg");
    background-position: top;
    
}
#guide_counter{
    background-image: url("Basics/counter.jpg");
    background-position: top;
    
}
#guide_meta{
    background-image: url("Basics/meta.jpg");
    background-position: center;
    
}
#guide_ult{
    background-image: url("Basics/bap.jpg");
    background-position: top;
}
#guide_impact{
    background-image: url("Basics/wall.jpg");
    background-position:bottom;
}
#guide_track{
    background-image: url("Basics/team.jpg");
    background-position: center;
}
#guide_mechanics{
    background-image: url("Basics/dva.jpg");
    background-position: center;
}
#guide_position{
    background-image: url("Basics/orisa.jpg");
    background-position: top;
}
#home{
    align-items: center;
    width: 80px;
    height: auto;
}
#menu{
    align-items: center;
    width: 80px;
    height: auto;
}
table{
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
}
th{
    width: 50%;
    vertical-align: middle;
    align-content: center;
    padding-top: 25px;
}
.paragraph{
    background-color: #f7f7f7;
    width: auto;
    height: auto;
    text-align: justify;
}
p{
    padding: 5%;
    width: 100%;
    background-color: #F7F7F7;
    font-family: 'Helvetica';
    color: #65779B;
    font-size: 12px;
    text-transform: uppercase;
}
.footer_txt{
    margin-top: 5%;
    padding: 5%;
    text-transform: uppercase;
}
.video{
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
}
iframe{
    border: none;
}
section{
    width: 100%;
    height: auto;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}